git+ssh://git@github.com/GenePeeks/biorest.git
git+ssh://git@github.com/GenePeeks/genepeeks-science.git
certifi
configparser
cycler
decorator
entrypoints
enum34
functools32.post2
html5lib
ipykernel
ipython
ipython-genutils
ipywidgets
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
mando
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
nose
notebook
numpy
packaging
pandas
pybedtools
pysam
